.edit-profile-dialog {
	background-color: rgb(119, 128, 255);
	margin-top: 0px;
	box-shadow: none;
	color: white;
}

.edit-profile-dialog-title {
	color: white;
}

.edit-profile-dialog-content {
	color: white;
}

.edit-profile-actions {
	display: flex;
	color: white;
}